@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    min-height: 100vh;
    background: hsl(233, 47%, 7%);
    display: flex;
    align-items: center;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
}

.wrapper {
    background-color: hsl(244, 38%, 16%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 8px;
    overflow: hidden;
    margin: 2rem;
}

.img-component img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-component {
    position: relative;
}

.img-component::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: hsl(277, 64%, 61%);
    opacity: .4;
}

.text-component {
    padding: 2.2rem;
}

.title {
    color: hsl(0, 0%, 100%);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    padding-bottom: 1.375rem;
}

.title span {
    color: hsl(277, 64%, 61%);
}

.subtitle {
    font-family: 'Inter', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.8;
}

.stat-box {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    padding-top: 3.75rem;
}

.stat-box p.num {
    color: hsl(0, 0%, 100%);
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.4375rem;
}

.stat-box p {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 0.75rem;
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
    body {
        font-size: 0.75rem;
    }

    .text-component {
        padding: 12%;
    }

    .title {
        font-size: 1.375rem;
    }

    .stat-box {
        padding-top: 1.875rem;
    }

    .stat-box p.num {
        font-size: 1.0625rem;
    }
}

@media only screen and (max-width: 599px) {
    body {
        text-align: center;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }

    .img-component {
        order: -1;
    }

    .text-component {
        padding: 12% 8%;
    }

    .title {
        line-height: 1.3;
    }

    .stat-box {
        flex-direction: column;
        padding: 1.875rem;
    }

    .stat-box div {
        margin-top: 1.25rem;
    }
}

